<app-header></app-header>

<!--<div class="container" id="h">-->
<!--  <ul>-->
<!--    <li *ngFor="let f of foods">-->
<!--      <a><img src="{{f.imageUrl}}" alt="Images"></a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div class="container" id="h">
  <div class="row">
    <div class="col-md-4" *ngFor="let f of foods">
      <div class="card" style="width: 18rem; margin: 5%; border-radius: 5%; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);">
        <img src="{{f.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{f.name}} || {{f.price|currency}}</h5>
          <h5 class="card-title">{{f.origin}} || {{f.tags}}</h5>
          <div class="text text-center"><span>⏰ </span>{{f.cookTime}}</div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
